body {
}

.container {
	position: absolute;
	border: 1px solid rgb(220,220,220);
	background-color: rgb(250,250,250);
	top: 50px;
	bottom: 20px;
}

#header {
	position: absolute;
	top: 10px;
	left: 20px;
	right: 20px;
}
#title {
	font-size: 30px;
	font-style: italic;
	color: rgb(185,185,185);
	text-align: right;
}

#content {
	top: 51px;
	left: 250px;
	right: 20px;
}

#sourceList {
	left: 20px;
	width: 220px;
}

#sourceList li {
	cursor: default;
	padding: 5px 10px;
	border-bottom: 1px solid rgb(220,220,220);
}

#sourceList li.has-children:before{
	font-size: 12px;
	content: '▼ '
}

#sourceList li.has-children.collapsed:before{
	content: '► '
}

#sourceList > li {
	-webkit-padding-start: 5px;
}
#sourceList ul {
	overflow: hidden;
}

#sourceList ul li {
	-webkit-padding-start: 20px;
}

#sourceList > li.collapsed + ul {
	height: 0;
	transition: height 0.2s linear;
}

#graph {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
}

#graph > svg {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	background-color: rgb(250,250,250);
}

.editing-box {
	position: absolute;
	z-index: 2;
	font-weight: bold;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	width: 100%;
	border: none;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
}
.editing-box:focus {
	outline: none;
}

.modal {
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: rgba(0,0,0,0.25)
}

#newModel {
	position: absolute;
	bottom: 0; right: 0; left: 0;
	border: 1px solid rgb(220,220,220);
	background-color: rgb(250,250,250);
}

#dataSelector {
	position: absolute;
	top: 5px;
}

.marker-vertices,
.marker-arrowheads,
.link-tools {
	display: none !important;
   opacity: 0 !important;
}